.idea
.cache
*.pyc
out
gen
allure*
po_log.txt
pytest-report
formtastic_data_parser
.DS_Store
*.iml
/automation/Inputs/StateRolloutData/*.pdf
~$StateRolloutTestData.xlsx
automation/Pages/DT20/DC/regular/business/contract_modifiers_page/__init__.py
geckodriver.log
*.html
*.xml
venv